@charset "UTF-8";

/*
    em HTML id    = em CSS é #
    em HTML class = em CSS é .
*/

body{
    background-color:rgb(190, 226, 190) ;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: aliceblue;
    width: 460px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(190, 226, 190, 0.884) ;
    padding: 10px;
    margin: auto;
}

h1 {
    color: rgb(41, 105, 41);

}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h2 {
    color: rgb(91, 122, 91);
}

.basico {
    color: rgb(91, 122, 91);
    font-weight: bold;
}

.intermediario {
    color: rgb(131, 126, 82);
}

.avancado {
    color: rgb(122, 91, 91);
}

.destaque {
    background-color: rgba(153, 142, 82, 0.39);
}
